{{> menu active="about"}}

<!--About content start-->
<div class="content box">
    <h2 class="title">
        About Weather Buddy
    </h2>
    <div class="columns">
        <div class="column is-one-half">
            <p>
                Weather Buddy is a web application that allows users to upload weather data from their own weather station 
                and weather API's to get insights into the weather in local area.
            </p>
            <p>
                The main aim of Weather Buddy is to enable notifications based on weather conditions. For example, if the 
                weather outside is sunny, you can get a notification to remind you to put clothes out to dry. Or if it's 
                raining to bring an umbrella (you get the idea).
            </p>
            <p>
                The more users that sign up to Weather Buddy the more locations are displayed on the map with weather information 
                updated from weather API's based on GPS location.
            </p>
            <p>
                With the incrase in popularity of home weather stations, Weather Buddy aims to provide a platform for users to 
                get realtime insights and also connect to Digital IoT services and devices, that make use of data to make informed 
                decisions that impact the home by one user at a time to make a global impact.
            </p>
        </div>
        <div class="column is-one-half">
            <img src="https://cdn.glitch.global/80ce3e4b-d8a6-4fd5-8cd5-7803d57b6847/station-set-up.png">
        </div>
    </div>
</div>
<!--About content end-->