{{> menu active="start"}}

<!--Start content start-->
<div class="content box">
    <h2 class="title">
        Welcome to Weather Buddy
    </h2>
    <div class="columns">
        <div class="column is-half">
            <p>
                Weather Buddy is an innovative application that allows users to upload weather station data in conjunction with 
                weather service APIs to give recommendations on tasks that are affected by weather. Whether you are planning a 
                picnic, a road trip, a gardening project, or a fishing expedition, Weather Buddy can help you make the best 
                decisions based on the most accurate and up-to-date weather information.
            </p>
            <p>
                Weather Buddy works by integrating data from various sources, such as personal weather stations, official weather services. 
                Users can upload their own weather station data to Weather Buddy which is shared with other users in their area. Weather Buddy 
                also connects to popular weather service APIs, such as OpenWeatherMap to provide comprehensive and reliable weather forecasts 
                for any location in the world.
            </p>
            <p>
                Weather Buddy not only tells you the current and future weather conditions, but also gives you smart and personalized suggestions 
                on what to do or avoid based on your preferences and needs. Weather Buddy can tell you the best time and place to put cothes out to dry.
            </p>
            <p>
                Weather Buddy is more than just a weather app. It is your ultimate companion for any weather-related activity. Try Weather Buddy today 
                and discover how it can make your life easier and more enjoyable.
            </p>
        </div>
        <div class="column is-half">
            <iframe src="https://embed.windy.com/embed2.html?lat=53.726&lon=-6.885&detailLat=53.726&detailLon=-6.885&width=650&height=450&zoom=5&level=surface&overlay=rain&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
                    frameborder="0"></iframe>
        </div>
    </div>
</div>
<!--Start content end-->